name: cross-build
on:
  push:
    branches:
      - "**"

jobs:
  cross-compile:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            artifact_name: spellout
            asset_name: spellout-0.1.0_linux_arm64
            ext: ''
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: spellout
            asset_name: spellout-0.1.0_linux_amd64
            ext: ''
          # - os: ubuntu-latest
          #   target: aarch64-pc-windows-gnullvm
          #   artifact_name: ${{ needs.documents.outputs.appname }}-cli.exe
          #   asset_name: ${{ needs.documents.outputs.appname }}-${{ needs.documents.outputs.tag }}_windows_arm64
          #   ext: '.exe'
          # - os: ubuntu-latest
          #   target: x86_64-pc-windows-gnu
          #   artifact_name: ${{ needs.documents.outputs.appname }}-cli.exe
          #   asset_name: ${{ needs.documents.outputs.appname }}-${{ needs.documents.outputs.tag }}_windows_amd64
          #   ext: '.exe'
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: spellout
            asset_name: spellout-0.1.0_darwin_arm64
            ext: ''
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: spellout
            asset_name: spellout-0.1.0_darwin_amd64
            ext: ''
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Setup zig
        uses: mlugg/setup-zig@v2

      - name: build
        run: |
          rustup update stable
          rustup target add ${{ matrix.target }}
          cargo install cargo-zigbuild
          cargo zigbuild --release --target ${{ matrix.target }}
